<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <link rel="stylesheet" type="text/css" href="../css/singin.css">
</head>
<body>


    {{#mesajes}}
        <div class="alert-dark">{{msg}}</div>
    {{/mesajes}}

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/recovToken" id="formulario" method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                <h1>Enter a new password</h1>
                
                <span></span>
                
                <input type="password" placeholder="Password" name="password" id="password" />
                <input type="password" placeholder="Password*" name="repassword" id="repassword" />
                <button id="passButton">Change password</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/recovPass" id="formulario" method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                
                <h1>Recover password</h1>
                
                <span>or use your account</span>
                
                <input type="email" placeholder="Email" name="email" id="email" />
                
                <button>Send Mail</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter a new password and confirm it to change it.</p>
                    
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your email to send you a token.</p>
                    
                </div>
            </div>
        </div>
        
    </div>
    

   <script src="../js/recoverpass.js"></script>
</body>
</html>