<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingIn</title>
    <link rel="stylesheet" type="text/css" href="../css/singin.css">
</head>
<body>


    {{#mesajes}}
        <div class="alert-dark">{{msg}}</div>
    {{/mesajes}}

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" id="formulario" method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                <h1>Create Account</h1>
                
                <span>or use your email for registration</span>
                <input type="text" placeholder="User" name="username" id="username" />
                <input type="email" placeholder="Email" name="email" id="email" />
                <input type="password" placeholder="Password" name="password" id="password" />
                <input type="password" placeholder="Password*" name="repassword" id="repassword" />
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/loginUser" id="formulario" method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                
                <h1>Sign In</h1>
                
                <span>or use your account</span>
                <input type="text" placeholder="User" name="username" id="username" />
                <input type="email" placeholder="Email" name="email" id="email" />
                <input type="password" placeholder="Password" name="password" id="password"/>
                <a href="/recover">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

   <script src="../js/singin.js"></script>
</body>
</html>